@tailwind base;
@tailwind components;
@tailwind utilities;

@import './home/styles/variables.css';
@import './home/styles/animations.css';

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}
